img{
  height: 200px;
}

p{
  display: inline-block;
}

header{
  font-size: 80px;
  font-family: monospace;
  text-align: center;
  padding: 100px 0px 80px 0px;

}

h1{
  font-size: 50px;
  text-align: center;
  font-family: monospace;
}
